NODE_ENV="development"

DATABASE_URL="postgresql://oaklang:oaklang@localhost:5432/oaklang"

# openssl rand -base64 32
AUTH_SECRET=

# NEXT AUTH GOOGLE
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

OPEN_AI_API_KEY=
